extends layout

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/user-home.css")
  .header-div
    a(href='/home')
      img(src=" ../berry-single.png", class= "berry-single")
    h1(class="iMember-h1") iMember
    div.logButtons
      a(href='/users/logout' class="logout-container")
        button(name="New List" class="logout-button") Logout
block content
  h1(class="welcome-msg")= list.name
  div
    a(href=`/lists/${list.id}/edit`)
      button(name="New List" class="button") Edit  List
    a(href=`/lists/${list.id}/delete`)
      button(name="New List" class="button") Delete  List
  div(class="table-container")
    table(class="table" style="width:70%" border="1")
      thead(class="table-head")
        tr
          //- th(scope='col' class="table-col-name") Lists
          th(scope='col' class="table-col-name") Task
          th(scope='col' class="table-col-name") Due
          th(scope='col' class="table-col-name") Priority
          th(scope='col' class="table-col-name") Complete
      tbody(class="table-body")
        each newTask in ListsTasks
          tr
            td(class="table-data")= newTask.content
            td(class="table-data")= newTask.dueDate
            td(class="table-data")= newTask.priority
            td(class="table-data")= newTask.complete
            td(class="table-data")
              a(href=`http://localhost:8080/tasks/delete/${newTask.id}`)
                button(type="click" method="delete") Done!
