extends layout

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/user-home.css")
  script(src="/javascripts/user-home.js" type="module" defer)

  .header-div
    a(href='/home')
      img(src=" ../berry-single.png", class= "berry-single")
    h1(class="iMember-h1") iMember
    div.logButtons
      a(href='/users/logout' class="logout-container")
        button(name="New List" class="logout-button") Logout

block content
  h1(class="welcome-msg") Welcome to the User Home
  ul(class="button-container")
    li
      a(href='/lists/new')
        button(name="New List" class="button") New List
    li
      a(href='/tasks/new')
        button(name="New List" class="button") New Task
  each list in lists
    li
      a(href=`/lists/${list.id}`)= list.name
  div(class="table-container")
    table(class="table" style="width:70%" border="1")
      thead(class="table-head")
        tr
          //- th(scope='col' class="table-col-name") Lists
          th(scope='col' class="table-col-name") Task
          th(scope='col' class="table-col-name") List
          th(scope='col' class="table-col-name") Due Date
          th(scope='col' class="table-col-name") Due Time
          th(scope='col' class="table-col-name") Priority
          th(scope='col' class="table-col-name") Complete
      tbody(class="table-body")
        each newTask in tasks
          //- script.
          //-   console.log(newTask.content)
          tr
            td(class="table-data")= newTask.content
            td(class="table-data")= newTask.List.name
            td(class="table-data")= newTask.dueDate
            td(class="table-data")= newTask.dueTime
            td(class="table-data")= newTask.priority
            td(class="table-data")= newTask.complete
            td(class="table-data")
              a(href=`/tasks/${newTask.id}/edit`)
                button(class=button) Edit!
              a(href=`/tasks/${newTask.id}/delete`)
                button(class=button) Done!
          //- td: a(class='btn btn-primary' href=`/park/${list.id}` role='button') Details
