extends layout

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/user-home.css")
  script(src="/javascripts/user-home.js" type="module" defer)

  .header-div
    a(href='/home')
      img(src=" ../berry-single.png", class= "berry-single")
    h1(class="iMember-h1") iMember
    div.logButtons
      ul(class='nav-container')
        li(class='nav-link-wrapper')
          a(class='nav-link' href="/users/logout") Logout

block content
  div(class='table-wrapper')
    div(class='list-container')
      table(class='list-table' border='0')
        thead(class='list-head')
          tr
            th My Lists
        tbody(class='list-table-body')
          each list in lists
            tr
              td
                a(href=`/lists/${list.id}`)= list.name
          td
            a(href='/lists/new')
              button(name="New List" class="button") Create List
    div(class="table-container")
      table(class="table" border="1")
        thead(class="table-head")
          tr
            //- th(scope='col' class="table-col-name") Lists
            th(scope='col' class="table-col-name") Task
            th(scope='col' class="table-col-name") List
            th(scope='col' class="table-col-name") Due Date
            th(scope='col' class="table-col-name") Due Time
            th(scope='col' class="table-col-name") Priority
            th(scope='col' class="table-col-name") Complete
            th(scope='col' class="table-col-name") Actions
        tbody(class="table-body")
          each newTask in tasks
            //- script.
            //-   console.log(newTask.content)
            tr
              td(class="table-data")= newTask.content
              td(class="table-data")= newTask.List.name
              td(class="table-data")= newTask.dueDate
              td(class="table-data")= newTask.dueTime
              td(class="table-data")= newTask.priority
              td(class="table-data")= newTask.complete
              td(class="table-data")
                a(href=`/tasks/${newTask.id}/edit`)
                  button(class='button') Edit!
                a(href=`/tasks/${newTask.id}/delete`)
                  button(class='button') Done!
          tr
            td(colspan='7' style='text-align:center' class='task-td')
              a(href='/tasks/new')
                button(name="New List" class="button") Create Task

              //- td: a(class='btn btn-primary' href=`/park/${list.id}` role='button') Details
